services/user-bff/src/main/resources/xsd/process.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="http://demo.netflixoss.com/userbff/process"
           targetNamespace="http://demo.netflixoss.com/userbff/process"
           elementFormDefault="qualified">

    <xs:element name="ProcessRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="type" type="xs:string"/>
                <xs:element name="message" type="xs:string"/>
                <xs:element name="amount" type="xs:double"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="ProcessResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="type" type="xs:string"/>
                <xs:element name="message" type="xs:string"/>
                <xs:element name="amount" type="xs:double"/>
                <xs:element name="computedOutput" type="xs:string"/>
                <xs:element name="timestamp" type="xs:string"/>
                <xs:element name="clientCertificateSubject" type="xs:string"/>
                <xs:element name="clientCertificateSerial" type="xs:string"/>
                <xs:element name="receivedClientSubject" type="xs:string" minOccurs="0"/>
                <xs:element name="receivedClientSerial" type="xs:string" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>

